<!--
	this will be the files page for a school group
	
	Created October 6th, 2013
	@author: Yariv Katz
	@version: 1.0
	@copyright: Nerdeez Ltd.
-->

<div class="schoolgroup-files">
	
	<!-- the upper part with the details -->
	<div class="row">
		{{partial "schoolgroup-short-description"}}
	</div>
	<!-- end of upper part -->
	
	<!-- the part for the table actions -->
	<div class="row table-controllers">
		<div class="span2">
			<button class="button btn btn-primary btn-large" {{action "showAddHw" target="view"}}>
				<i class="icon-plus"></i>
				Add H.W
			</button>
		</div>
	</div>
	<!-- end table actions -->
	
	<!-- begin status -->
	{{#if isSuccess}}
	<div class="alert alert-success top-buffer pull-left">
	    {{message}} 
	</div>
	{{/if}}
	<!-- end status -->
	
	<!-- begin modal for new hw -->
	<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade" id="new-hw">
		<form class="js-validation">
			<div class="modal-header">
				<a data-dismiss="modal" class="close" href="#">×</a>
				<h3>New H.W</h3>
				</div>
			<div class="modal-body">
				<div class="field">
					<label>Title (Required):</label>
					{{
						view
						Ember.TextField
						placeholder="Example: H.W1 - UML"
						valueBinding="newHwTitle"
						class="nerdeez-inputs validate[required]"
					}}
				</div>
				<div class="field">
					<label>Description (Optional):</label>
					{{
						view
						Ember.TextField
						placeholder="Example: H.W1 for semester Spring 2013"
						valueBinding="newHwDescription"
						class="nerdeez-inputs"
					}}
				</div>
				<div class="field center">
					<button class="button btn btn-primary btn-large" {{action "uploadHW"}}>
						<i class="icon-upload"></i>
						Upload H.W files
					</button>
				</div>
				<div class="uploaded-files">
					{{#each newHwFiles}}
						<div class="single-file">
							<i class="icon-ok"></i>
							{{title}}
						</div>
					{{/each}}
				</div>
			</div>
			<div class="modal-footer">
				{{#if isNewHwError}}
				<div class="alert alert-danger">
					{{hwMessage}}
				</div>
				{{/if}}
				{{#if isNewHwLoading}}
				{{loading}}
				{{/if}}
		        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
		        <button class="btn btn-primary" type="button" {{action "newHW" target="view"}}>Save changes</button>
		    </div>
		</form>
	</div>
	<!-- end modal for new hw -->
	
	<!-- begin files table -->
	<div class="row top-buffer hw-table">
		<div class="span10">
			{{#if controller}}
				<table class="table table-bordered table-striped table-highlight">
					<thead>
						<tr>
							<th>
								Title
							</th>
							<th>
								Description
							</th>
							<th>
								Num Files
							</th>
							<th>
								Grade
							</th>
							<th>
								Share
							</th>
							<th>
								Date
							</th>
							<!--<th>
								Download
							</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each hw in controller}}
							<tr>
								<td>
									{{#link-to "hws.hw" hw.id}}
									{{hw.title}}
									{{/link-to}}
								</td>
								<td>
									{{hw.description}}
								</td>
								<td class="center">
									{{hw.files.length}}
								</td>
								<td class="center">
									{{getRating grade 5}}
								</td>
								<td class="center">
									<a {{action "fbShare"}}>
										<i class="icon-facebook-sign">
										</i>
									</a>
								</td>
								<td>
									{{hw.getCreationDate}}
								</td>
								<!--<td class="center">
									<a>
										<i class="icon-download"></i>
									</a>								
								</td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<div class="alert alert-info">
					<span>
						No H.W opened here. Be the first to post!
					</span>
				</div>
			{{/if}}
		</div>
	</div>
	<!-- end files table -->
	
</div>