<!-- 

holds the search
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->


<div class="_search top-buffer">
	
	<!-- begin search input -->
	<div class="search-form">
		<div class="row">
			<div class="span7 center">
                <div class="faq-container">
    				<form class="faq-search" {{action "search" on="submit"}}>
                    
                        <div class="login-fields">
    			
            				<div class="field">
            					<label for="username">Search:</label>
                                <i class="icon-search nerdeez-search"></i>
                                {{view Ember.TextField valueBinding="searchQuery" placeholder="" class="nerdeez-search" type="search"}}
            				</div> <!-- /field -->
            				
            			</div>
    					
    				</form>
                </div>
			</div>
		</div>
	</div>
	<!-- end search input -->
	
	<!-- begin result list -->
	<div class="result">
		<div class="row">
			<div class="span7 center">
				{{#each controller}}
				<div class="single-schoolgroup row top-buffer">
					<div class="border">
						<div class="row">
							<div class="span2 image-wrapper">
								<div class="thumbnail">
									{{#if image}}
										<img {{bindAttr src="image"}} />
									{{else}}
										<i class="icon-picture"></i>
									{{/if}}
								</div>
							</div>
							<div class="details span4">
								<h5>
									{{title}}
								</h5>
								<p>
									{{description}}
								</p>
							</div>
						</div>
					</div>
				</div>
				{{else}}
				<div class="alert alert-info">
	              <strong>No results found</strong>
	            </div>
				{{/each}}
			</div>
		</div>
	</div>
	<!-- end result list -->
	
</div>