<!--
	Partial for the wall headline
	
	Created October 20th, 2013
	@author: Doron Nachshon
	@copyright: nerdeez.com
	@version: 1.0
-->

<div class="wall-main nerdeez-box">
	<div class="main-action nerdeez-box-action">
		<div class="pic-content">
			<div {{bind-attr class="model.getIconClass"}}>
				<i class="schoolgroup-img"></i>
			</div>
		</div>
		<div class="text-content">
			<div class="result-title">
				<h3>
					{{#if model.isCourse}}
						Course Name:
					{{/if}}
					{{#if model.isFaculty}}
						Faculty Name:
					{{/if}}
					{{#if model.isUniversity}}
						University Name:
					{{/if}}
				</h3>
				<span>{{model.title}}</span>
			</div>
			<div class="result-description">
				<h5> Description: </h5>
				<span>{{model.description}}</span>
			</div>
		</div>
	</div>
	<div class="main-footer nerdeez-box-footer">
		<div class="main-share">
			<ul class="like-status">
				<li>
					<a {{action "incDislike" model}} >
						<i class="icon-thumbs-down"></i>
					</a>
				</li>
				<li>
					<span class="alert alert-danger">
					{{model.dislike}}
					</span>
				</li>
				<li><i class="vertical-line"></i></li>
				<li>
					<a {{action "incLike" model}} >
						<i class="icon-thumbs-up"></i>
					</a>
				</li>
				<li>
					<span class="alert alert-success">
					{{model.like}}
					</span>
				</li>
			</ul>
			<div class="fb">
				<a class="btn_2" {{action share}}>Share on Facebook</a>
			</div>
		</div>
	</div>
</div>