<!--

Holds the html of the main application page
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

{{partial "topbar"}}
{{partial "header"}}
{{partial "masthead"}}
<div id="content">
    <div class="container">
        <div class="row">
     <div class="span2">
{{partial "left-sidebar"}}
</div>
<div class="span10">
{{outlet}}
</div>
</div>
    </div>
</div>

<div class="push"></div>