<div class="banks">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>אפליקציית השוואות בנקים</h1>
            </div>                
        </div>
        <div class="row">
            <form>
                <div class="faq-container">
                    <ol class="faqList faq-list">
                        <li class="span4 pull-right">
                            <div class="faq-icon">
                                <div class="faq-number">1</div>
                            </div>
                            <div class="faq-text">
                                <div class="details register">
                                    <h4>הכנס פרטים אישיים</h4>
                                    <p>הפרטים שלך נותרים חסויים ומטרתם לאמת אז זהותך</p>
                                    <div class="login-fields">
                                    
                        				<div class="field">
                        					<label for="name">שם:</label>
                                            {{view Ember.TextField class="login" placeholder="שם" valueBinding="name" required="true" name="name"}}
                        				</div> <!-- /field -->
                        				
                        				<div class="field">
                        					<label for="id">ת.ז:</label>	
                        					{{view Ember.TextField class="login" placeholder="ת.ז" valueBinding="id" required="true" name="id"}}
                        				</div> <!-- /field -->
                                        
                        				<div class="field">
                        					<label for="phone">טלפון:</label>	
                        					{{view Ember.TextField class="login" placeholder="טלפון" valueBinding="phone" required="true" name="phone"}}
                        				</div> <!-- /field -->
                                        
                        			</div>
                                </div>
                            </div>
                        </li>
                        
                        <li class="span4 pull-right">
                            <div class="faq-icon">
                                <div class="faq-number">2</div>
                            </div>
                            <div class="faq-text">
                                <div class="details register">
                                    <h4>הכנס פרטי הוצאות\הכנסות</h4>
                                    <p>הפרטים נותרים חסויים ומטרתם לאפשר לבנקים להתאים לך הצעות לתוכניות אפשריות</p>
                                    <div class="login-fields">
                                    
                        				<div class="field">
                        					<label for="savings">חסכונות:</label>
                                            {{view Ember.TextField class="login" placeholder="חסכונות" valueBinding="savings" required="true" name="savings"}}
                        				</div> <!-- /field -->
                        				
                        				<div class="field">
                        					<label for="salary">משכורת:</label>	
                        					{{view Ember.TextField class="login" placeholder="משכורת" valueBinding="salary" required="true" name="salary"}}
                        				</div> <!-- /field -->
                                        
                        				<div class="field">
                        					<label for="loans">הלוואות:</label>	
                        					{{view Ember.TextField class="login" placeholder="הלוואות" valueBinding="loans" required="true" name="loans"}}
                        				</div> <!-- /field -->
                                        
                        				<div class="credit">
                        					<label for="loans">הלוואות:</label>	
                        					{{view Ember.TextField class="login" placeholder="מסגרת אשראי" valueBinding="credit" required="true" name="loans"}}
                        				</div> <!-- /field -->
                                        
                        			</div>
                                </div>
                            </div>
                        </li>
                        
                        <li class="span3 pull-right">
                            <div class="faq-icon">
                                <div class="faq-number">3</div>
                            </div>
                            <div class="faq-text">
                                <div class="details register">
                                    <h4>לחץ  לחיפוש</h4>
                                    <div class="login-fields">
                        				<button onclick="$('.results').fadeIn('slow');" class="button btn btn-primary btn-large">
                                            <i class="icon-search"></i>
                                            חפש תוכניות
                                        </button>
                        			</div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </form>
        </div>
        <hr/>
        
        
        <div style="display: block;" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade" id="windowTitleDialog">
        		<div class="modal-header">
					    <a data-dismiss="modal" class="close pull-left" href="#">×</a>
					    <h3>
                                            הצטרפות לתוכנית
                        </h3>
					</div>
				    <div class="modal-body">
					    <div class="divDialogElements">
.						נציג שירות יפנה אליך בדקות הקרוב

<br>
.מודים לך על השימוש באפליקציית השוואת בנקים
                            <i style="" class="icon-ok pull-left"></i>
						</div>
					</div>
				    <div class="modal-footer">
					    <a onclick="$('#windowTitleDialog').modal('hide')" class="btn btn-primary pull-left">אישור</a>
					</div>
				</div>
                
        <div style="display: block;" aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade" id="windowTermsDialog">
            	<div class="modal-header">
					    <a data-dismiss="modal" class="close pull-left" href="#">×</a>
				    <h3>
                                            תנאי הצטרפות
                    </h3>
				</div>
		    <div class="modal-body">
			    <div class="divDialogElements">
						<p>
:    					המבצע כפוף לתנאים הבאים
<p>
                        <ul>
                            <li>
                            בתוקף שנה מיום הכניסה
                            </li>
                            <li>
                            למבצעים 5 פעולות בחודש
                            </li>
                        </ul>
				</div>
			</div>
		    <div class="modal-footer">
			    <a onclick="$('#windowTermsDialog').modal('hide')" class="btn btn-primary pull-left">אישור</a>
			</div>
		</div>
                
        <div class="row results">
            <div class="container">    		
        	<div class="row">			
        	    <div class="span12">				
        		    <div class="pricing-plans plans-4">						
        		        <div class="plan-container best-value">
        		            <div class="plan">
        			            <div class="plan-header">				                
        			                <div class="plan-title">
        					        	בנק הפועלים	        		
        				            </div> <!-- /plan-title -->				                
        		                    <div class="plan-price">
                                        <div class="thumbnail">
        				                    <img src="http://www.myavne.co.il/sites/yavne/UserContent/images/Yavne%20Irya/2013/12.06.13/poalim.jpg">       	
                                        </div>
        				            </div> <!-- /plan-price -->
        								
        					    </div> <!-- /plan-header -->       
        					        
        					<div class="plan-features">
        						<ul>
									<li>
                                    <strong>
                                    דמי ניהול
                                    <strong>
                                    12
                                    &#8362;
                                    /
                                    חודש
                                    </li>
									<li>
                                    <strong>
                                    ריבית בפיקדון
                                    </strong>
                                    3%
                                    </li>
									<li>
                                    <strong>מסגרת משכורת</strong>
                                    חינם
                                    </li>
									<li><strong>ריבית הלוואה</strong>
                                    3%
                                    </li>
									<li class="alert alert-success">
                                        מבצע למצטרפים מהאפליקצייה.
                                        המבצע תקף בהתאם
                                        <a class="btn btn-tertiary msgbox-info" onclick="$('#windowTermsDialog').modal('show');">
                                        לתנאים
                                        </a>
                                        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                    </li>
        						</ul>
        					</div> <!-- /plan-features -->
        							
        					<div class="plan-actions">				
        						<a class="btn" onclick="$('#windowTitleDialog').modal('show')">
                                    הצטרף לתוכנית
                                    <i class="icon-phone"></i>
                                </a>				
        					</div> <!-- /plan-actions -->
        				
        				</div> <!-- /plan -->
        			</div> <!-- /plan-container -->
        				    
        			<div class="plan-container">
        				<div class="plan">
        					 <div class="plan-header">
        					    <div class="plan-title">
        					        		בנק אוצר החייל	        		
        				        </div> <!-- /plan-title -->
        					    <div class="plan-price">
                                    <div class="thumbnail">
        				                <img src="http://www.ispot.co.il/admin/uploads/mzl.kiggnttd.175x175-75.49130933907036.jpg" />
                                    </div>
        						</div> <!-- /plan-price -->
        					 </div> <!-- /plan-header -->       
        				     <div class="plan-features">
        						<ul>
        							<li>
                                    <strong>
                                    דמי ניהול
                                    <strong>
                                    12
                                    &#8362;
                                    /
                                    חודש
                                    </li>
    								<li>
                                    <strong>
                                    ריבית בפיקדון
                                    </strong>
                                    3%
                                    </li>
									<li>
                                    <strong>מסגרת משכורת</strong>
                                    חינם
                                    </li>
									<li><strong>ריבית הלוואה</strong>
                                    3%
                                    </li>
        						</ul>
        					</div> <!-- /plan-features -->
        							
        				<div class="plan-actions">				
        					<a class="btn" onclick="$('#windowTitleDialog').modal('show')">
                            הצטרף לתוכנית
                            <i class="icon-phone"></i>
                            </a>				
        				</div> <!-- /plan-actions -->
        				
        			</div> <!-- /plan -->
        		</div> <!-- /plan-container -->
        				    
        		<div class="plan-container">
        			<div class="plan">
        			    <div class="plan-header">
        					<div class="plan-title">
        					        		בנק דיסקונט
        				    </div> <!-- /plan-title -->
        				                
        					<div class="plan-price">
                                <div class="thumbnail">
                                    <img src="http://www.greatinsurance.co.il/images/discount.jpg" />
                                </div>
        					</div> <!-- /plan-price -->
        								
        				</div> <!-- /plan-header -->	          
        					        
        			    <div class="plan-features">
        					<ul>					
        									<li>
                                    <strong>
                                    דמי ניהול
                                    <strong>
                                    12
                                    &#8362;
                                    /
                                    חודש
                                    </li>
        							<li>
                                    <strong>
                                    ריבית בפיקדון
                                    </strong>
                                    3%
                                    </li>
									<li>
                                    <strong>מסגרת משכורת</strong>
                                    חינם
                                    </li>
									<li><strong>ריבית הלוואה</strong>
                                    3%
                                    </li>
							</ul>
						</div> <!-- /plan-features -->
        							
						<div class="plan-actions">				
								<a class="btn" onclick="$('#windowTitleDialog').modal('show')">
                                הצטרף לתוכנית
                                <i class="icon-phone"></i>
                                </a>				
						</div> <!-- /plan-actions -->
        				
					</div> <!-- /plan -->
			    </div> <!-- /plan-container -->
        				    
		    <div class="plan-container">
		        <div class="plan">
			        <div class="plan-header">
			        	<div class="plan-title">
        					   בנק יהב
        				</div> <!-- /plan-title -->
        			    <div class="plan-price">
                            <div class="thumbnail">
                                <img src="http://images.globes.co.il/Images/NewGlobes/big_image/2012/yahav-575.20121031T160301.jpg" />
                            </div>
        				</div> <!-- /plan-price -->
        			</div> <!-- /plan-header -->	       
        			<div class="plan-features">
						<ul>
							<li>
                                    <strong>
                                    דמי ניהול
                                    <strong>
                                    12
                                    &#8362;
                                    /
                                    חודש
                                    </li>
            						<li>
                                    <strong>
                                    ריבית בפיקדון
                                    </strong>
                                    3%
                                    </li>
									<li>
                                    <strong>מסגרת משכורת</strong>
                                    חינם
                                    </li>
									<li><strong>ריבית הלוואה</strong>
                                    3%
                                    </li>
						</ul>
        			</div> <!-- /plan-features -->
        							
					<div class="plan-actions">				
						<a class="btn" onclick="$('#windowTitleDialog').modal('show')">
                        הצטרף לתוכנית
                        <i class="icon-phone"></i>
                        </a>				
					</div> <!-- /plan-actions -->
        				
        		</div> <!-- /plan -->
        						
        	</div> <!-- /plan-container -->
        				    
        </div>
        				
    </div> <!-- /.span12 -->
        			
</div> <!-- /.row -->
        		
        		
        	</div>
        </div>
    </div>
</div>