<!--
	Handlebar for the change password window
	
	Created September 26th, 2013
	@author: Yariv Katz
	@copyright: nerdeez.com
	@version: 1.0
-->

<div class="contact change_password">
    <div class="account-container register stacked">
	
    	<div class="content clearfix">
    		
    		<form class="js-validation" >
    		
    			<h1>Change Password</h1>		
    			
    			<div class="login-fields">
    				
    				<p>Write your current password and the new password you want</p>
    				
    				<div class="field">
    					<label>Current password</label>
						{{
						view Ember.TextField
						valueBinding="currentPassword"
						type="password"
						class="validate[required,minSize[5]] nerdeez-inputs"
						}}
    				</div> <!-- /field -->
    				
    				<div class="field">
    					<label>New password</label>
    					{{
						view Ember.TextField
						valueBinding="newPassword"
						type="password"
						class="validate[required,minSize[5]] nerdeez-inputs"
						name="password"
	    					id="password"
					}}
    				</div> <!-- /password -->
    				
    				<div class="field">
    					<label>Confirm new password</label>
    					{{
						view Ember.TextField
						type="password"
						class="validate[required,equals[password]] nerdeez-inputs"
					}}
    				</div> <!-- /password -->
    				
    			</div> <!-- /login-fields -->
    			
    			<div class="login-actions">
    				
    									
    				<button class="button btn btn-primary btn-large" {{action "changePassword"}}>Change</button>
    				
    			</div> <!-- .actions -->
    			
    		</form>
    		
    	</div> <!-- /content -->
    	
    	{{#if isLoading}}
        {{loading}}
    {{/if}}
    
    {{#if isError}}
        <div class="alert alert-danger">
          {{message}}
        </div>
    {{/if}}
    
    {{#if isSuccess}}
        <div class="alert alert-success">
          {{message}}
        </div>
    {{/if}}
    	
    </div>
</div>