<!--

Holds the html of the contact page
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="contact">
	<div class="account-container login stacked">
		<div class="content clearfix">
			<form class="nerdeez-validation" id="contactusForm" {{action submitForm target="controller" on="submit"}}>
				<h1>Contact Us</h1>		
    			<div class="login-fields">
    				<div class="field">
						<label for="emailinput">Email Address (not required)</label> 
						{{
			  				view Ember.TextField
			  				placeholder = "Enter your Email address here"
			  				valueBinding="controller.mailAddress"
			  				type="email"
			  				name="emailinput"
			  			}}
			  		</div> <!-- /field -->
			  		<div class="field">
			  			<label for="msginput">Message (required)</label>
				  		{{
				  			view Ember.TextArea
				  			placeholder = "Enter your message here"
			  				valueBinding="controller.mailContent"
			  				name="msginput"
			  				type="text"
			  				required="true"
			  			}}
			  			<div class="charCounter"> 
	  						Characters remaining:
							<div class="charsRemaining">
							{{controller.textLimit}}
							</div>
						</div>
			  		</div> <!-- /field -->
			  	</div> <!-- /login fields -->
		  		<div class="login-actions">
		  			{{loading controller isLoadingBinding="isLoading"}}
		  			<button type="submit" class="button btn btn-primary btn-large">
		  				<i class="icon-envelope"></i>
                    	Send
                    </button>
                </div> <!-- .login-actions -->
                {{status controller messageBinding="statusMessage" isSuccessBinding="isSuccess" isShowBinding="isShowStatus"}}
            </form>
        </div>
    </div>
</div>
