<!--

Holds the html of the contact page
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="contactus">
	<div class="row">
		<div class="span10">
			<h1>Contact Us</h1>
			<form class="form" id="contactusForm" {{action submitForm target="view" on="submit"}}>
				<div class="row top-buffer">
					<div class="span6">
						<label>Email Address (not required)</label> 
						{{
			  				view Ember.TextField
			  				placeholder = "Enter your Email address here"
			  				valueBinding="controller.mailAddress"
			  				type="email"
			  				name="emailinput"
			  			}}
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span6">
			  			<label>Message (required)</label>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span6">
				  		{{
				  			view Ember.TextArea
				  			placeholder = "Enter your message here"
			  				valueBinding="controller.mailContent"
			  				name="msginput"
			  				type="text"
			  				required="true"
			  			}}
			  		</div>
		  		</div>
		  		<div class="row">
		  			<div class="sidenote span6 offset4">
			  			Characters remaining: 
			  			<div class="charsRemaining">
			  				{{controller.textLimit}}
			  			</div>
			  		</div>
			  	</div>
		  		<div class="row">
		  			<div class="span6">
		  				<button type="submit" class="btn">Send Email</button>
		  			</div>
				</div>

				<div class="row">
					<div class="span6">
						<button type="submit" class="btn" {{action toGGleErr target="view"}}>Toggle Error Msg</button>
						<button type="submit" class="btn" {{action toGGleSccs target="view"}}>Toggle Success Msg</button>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="errorTrigger alert alert-error">
							Failed to send the message
							<a class="close" data-dismiss="alert">x</a>
						</div>
						<div class="successTrigger alert alert-success">
							Message was sent successfully
							<a class="close" data-dismiss="alert">x</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>