<!--

Holds the html of the contact page
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="contactus">
	<div class="row">
		<div class="span10">
			<h1>Contact Us</h1>
			<form class="form" id="contactusForm" {{action submitContactUs target="view" on="submit"}}>
				<div class="row top-buffer">
					<div class="span6">
						<label>Email Address (not required)</label> 
						{{
			  				view Ember.TextField
			  				placeholder = "Enter your Email address here"
			  				valueBinding="view.email"
			  				type="email"
			  				name="emailinput"
			  			}}
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span6">
			  			<label>Message (required)</label>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span6">
				  		{{
				  			view Ember.TextArea
				  			placeholder = "Enter your message here"
			  				valueBinding="view.message"
			  				name="msginput"
			  				type="text"
			  				required="true"
			  			}}
			  		</div>
		  		</div>
		  		<div class="row">
		  			<div class="sidenote span6 offset4">
			  			Characters remaining: 
			  			<div class="charsRemaining">
			  				{{view.textLimit}}
			  			</div>
			  		</div>
			  	</div>
		  		<div class="row">
		  			<div class="span6">
		  				<button type="submit" class="btn">Send Email</button>
		  			</div>
				</div>
				<div class="row">
					<div class="span6">
						<div id="contact-message">{{message}}</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>