<div class="course">
    <div class="row">
        <div class="span2 image-wrapper">
			<div class="thumbnail">
				{{#if image}}
					<img {{bindAttr src="image"}} />
				{{else}}
					<i class="icon-picture"></i>
				{{/if}}
			</div>
        </div>
        <div class="span8 details">
            <h5>
                Title
            </h5>
            <p>
                {{title}}
            </p>
            <h5>
                Description
            </h5>
            <p>
                {{description}}
            </p>
            <h5>
                University
            </h5>
            <p>
                {{university.title}} - {{university.description}}
            </p>
        </div>
    </div>
</div>

{{outlet}}