<!--
	Handlebar for the forget password window
	
	Created September 26th, 2013
	@author: Yariv Katz
	@copyright: nerdeez.com
	@version: 1.0
-->

<div class="contact forget_password">
    <div class="account-container register stacked">
	
    	<div class="content clearfix">
    		
    		<form class="js-validation" >
    		
    			<h1>Forgot your password?</h1>		
    			
    			<div class="login-fields">
    				
    				<p>Write the email address of your nerdeez account. Mail will be sent with a link to set your password</p>
    				
    				<div class="field">
    					<label>Email</label>
						{{
	    					view Ember.TextField
	    					valueBinding="email"
	    					class="validate[required,custom[email]] nerdeez-inputs"
	    					required="true"
	    					}}
    				</div> <!-- /field -->
    				
    				
    			</div> <!-- /login-fields -->
    			
    			<div class="login-actions">
    				
    									
    				<button class="button btn btn-primary btn-large" {{action "forgotPassword"}}>Submit</button>
    				
    			</div> <!-- .actions -->
    			
    		</form>
    		
    	</div> <!-- /content -->
    	
    	{{#if isLoading}}
        {{loading}}
    {{/if}}
    
    {{#if isError}}
        <div class="alert alert-danger">
          {{message}}
        </div>
    {{/if}}
    
    {{#if isSuccess}}
        <div class="alert alert-success">
          {{message}}
        </div>
    {{/if}}
    	
    </div>
</div>