<!--

Holds the html of the registration page

author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="register">
    <div class="lrform">
        <div class="form">
            <!-- Register form (not working)-->
            <form class="form-horizontal js-validation">
            <!-- Name -->
                <div class="form-group">
                    {{
                        view Ember.TextField
                        valueBinding="name"
                        class="validate[required, custom[onlyLetterSp, minSize[2], maxSize[50]]] form-control"
                        placeholder="Full Name"
                        required="true"
                        tabindex="3"
                    }}
                </div>   
                <!-- Email -->
                <div class="form-group">
                    {{
                        view Ember.TextField
                        valueBinding="email"
                        class="validate[required,custom[email]] form-control"
                        placeholder="Email"
                        required="true"
                        tabindex="4"
                    }}
                </div>                                       
                <!-- Password -->
                <div class="form-group">
                    {{
                        view Ember.TextField
                        valueBinding="password"
                        class="validate[required,minSize[5]] form-control"
                        placeholder="Password"
                        required="true"
                        type="password"
                        name="password"
                        id="password"
                        tabindex="5"
                    }}
                </div>
                <!-- Checkbox -->
                <div class="form-group">
                        <label class="checkbox-inline">
                        {{
                            view
                            Ember.Checkbox 
                            class="field login-checkbox validate[required]"
                            tabindex="6"
                            name="Field"
                            id="inlineCheckbox1"
                        }}
                        I have read and agree with the {{#linkTo "terms"}}Terms of Use.{{/linkTo}}
                        </label>
                </div> 

                <!-- Buttons -->
                <div class="form-group">
                <!-- Buttons -->
                    <button class="btn btn-default" tabindex="7" type="submit" {{action "register"}}>Sign up</button>
                </div>
            </form>
        </div> 
        <div class="center">
            {{#if isLoading}}
                {{loading}}
            {{/if}}
            
            {{#if isError}}
                <div class="alert alert-danger">
                  {{message}}
                </div>
            {{/if}}
        </div>
    </div>
</div>