<!--

Holds the html of the search page
make sure to keep bootstrap grid system

author: Doron Nechshon
copyright: Nerdeez Ltd.
version: 1.0

-->

<div class="search">
	<div class="row">
		<div class="span7">
			<form class="form-search" {{action "search" on="submit" target="controller"}}>
				<div class="input-append">
					{{
						view Ember.TextField
						class="nerdeez-inputs search-query"
						valueBinding="searchQuery"
						placeholder="Search"
					}}
					<button type="submit" class="btn"> <i class="icon-search"></i> </button>
				</div>
			</form>
		</div>
		<div class="span3 sortby">
			<h5>Sort By</h5>
			<div class="dropdown">
				<!-- Link or button to toggle dropdown -->
				<b class="dropdown-toggle" data-toggle="dropdown" href="#"> 
					{{controller.selectedSort}}
					<b class="caret"></b>
				</b>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li {{action "manageSort" "byRelevance" target="controller"}}>Relevance</li>
				    <li {{action "manageSort" "byGrades" target="controller"}}>Grades</li>
				    <li {{action "manageSort" "byUsers" target="controller"}}>No. of Users</li>
				    <li {{action "manageSort" "byFiles" target="controller"}}>No. of Files</li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<ol class="results">
			{{#each controller}}
				<li>
					<div class="span5 resultbox">
						<div class="result-action">
							<div class="pic-container">
								<i {{bind-attr class="getIconClass"}}></i>
							</div>
							<div class="result-text">
								<h5>
									{{#if isCourse}}
										Course Number:
									{{/if}}
									{{#if isFaculty}}
										Faculty Name:
									{{/if}}
									{{#if isUniversity}}
										University Name:
									{{/if}}
								</h5>
								<span>{{title}}</span>
							</div>
							<div class="result-text">
									<h5> Description: </h5>
									<span>{{description}}</span>
							</div>
							<div class="result-text">
								<h5> 
									{{#if isCourse}}
										Faculty:
									{{/if}}
									{{#if isFaculty}}
										University:
									{{/if}}
								</h5>
								<span>
									{{#unless isUniversity}}
										{{parent.title}}
									{{/unless}}
								</span>
							</div>
							<div class="result-text">
								{{#if isCourse}}
									<h5> University: </h5>
									<span>{{parent.parent.title}}</span>
								{{/if}}
							</div>
						</div>
						<div class="result-footer">
							<ul class="rating">
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
							</ul>
							<ul class="entry-info">
								<li class="iconproperties">
									<i class="icon-user"></i>
								</li>
								<li>
									<h5>Users: ... </h5>
								</li>
								<li>
									<i class="verticalLine"></i>
								</li>
								<li class="iconproperties">
									<i class="icon-file-text"></i>
								</li>
								<li>
									<h5>Files: ... </h5>
								</li>
							</ul>
						</div>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>