<!--

Holds the html of the search page
make sure to keep bootstrap grid system

author: Doron Nechshon
copyright: Nerdeez Ltd.
version: 1.0

-->

<div class="search">
	<div class="searchtab">
		<div class="row">
			<div class="span8">
				{{
					view Ember.TextField
					placeholder="Search"
				}}
			</div>
			<div class="span2 sortby">
				Sort By ....
			</div>
		</div>
		<hr />
	</div>
	<div class="row">
		<ol class="results">
			{{#each controller}}
				<li>
					<div class="span5 resultbox">
						<div class="result-action">
							<div class="pic-container">
								<i {{bind-attr class="getIconClass"}}></i>
							</div>
							<div class="result-text">
								<h5>
									{{#if isCourse}}
										Course Number:
									{{/if}}
									{{#if isFaculty}}
										Faculty Name:
									{{/if}}
									{{#if isUniversity}}
										University Name:
									{{/if}}
								</h5>
								<span>{{title}}</span>
							</div>
							<div class="result-text">
									<h5> Description: </h5>
									<span>{{description}}</span>
							</div>
							<div class="result-text">
								<h5> 
									{{#if isCourse}}
										Faculty:
									{{/if}}
									{{#if isFaculty}}
										University:
									{{/if}}
								</h5>
								<span>
									{{#unless isUniversity}}
										{{parent.title}}
									{{/unless}}
								</span>
							</div>
							<div class="result-text">
								{{#if isCourse}}
									<h5> University: </h5>
									<span>{{parent.parent.title}}</span>
								{{/if}}
							</div>
						</div>
						<div class="result-footer">
							<ul class="rating">
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
								<li>
									<i class="icon-star"></i>
								</li>
							</ul>
							<ul class="entry-info">
								<li class="iconproperties">
									<i class="icon-user"></i>
								</li>
								<li>
									<h5>Users: ... </h5>
								</li>
								<li>
									<i class="verticalLine"></i>
								</li>
								<li class="iconproperties">
									<i class="icon-file-text"></i>
								</li>
								<li>
									<h5>Files: ... </h5>
								</li>
							</ul>
						</div>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>