<!--

Holds the html of the search page
make sure to keep bootstrap grid system

author: Doron Nechshon
copyright: Nerdeez Ltd.
version: 1.0

-->

<div class="search">
	<div class="row">
		<div class="span7">
			<div class="filter-zone">
				<label>Filter</label>
				<div class="styled-select">
					{{
						view Ember.Select
						prompt = "All"
						contentBinding = "Nerdeez.SCHOOLGROUP_TYPE"
						optionValuePath = "content.id"
						optionLabelPath = "content.title"
						valueBinding = "filterBy"
					}}
					<div class="select-icon">
						<i class="icon-sort"></i>
					</div>
				</div>
			</div>
			<form class="form-search nerdeez-inputs">
				{{
					view Ember.TextField
					class="search-query"
					valueBinding="searchQuery"
					placeholder="Search"
				}}
				{{#if isLoading}}
					{{loading}}
				{{else}}
					<i class="icon-search"></i>
				{{/if}}
			</form>
		</div>
		<div class="span3">
			<div class="sortby">
				<h5>Sort By</h5>
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
						{{controller.sortName}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						{{#each Nerdeez.SORTBY_TYPE}}
							<li><a href="#" {{action "setSort" this target="controller"}}>{{title}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="span10">
			<div class="result-num">
				<i class="icon-book"></i>
				<p><b>{{controller.resultNum}}</b> Results Found</p>
			</div>
		</div>
	</div>
	<div class="row">
		<ol class="results">
			{{#each controller}}
				<li>
					{{partial "search-resultbox"}}
				</li>
			{{/each}}
		</ol>
	</div>
</div>