

<div class="welcome">
	<div class="welcome-top-container">
		<div class="welcome-top-color">
		</div>
		<div class="welcome-top-box">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span12 welcome-title top-buffer">
								<div class="row">
									<div class="span10 top-buffer">
										<div class="text-center">
											<h1>Homework made easy</h1>
											<p>Find and share homework, all in one place</p>
										</div>
									</div>
									<div class="span2 pull-right top-buffer">
										<img src="{{unbound view.staticUrl}}img/nerd-solving-large.png" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span10">
								<div class="sign text-center">
									{{#link-to 'register'}}
									<button class="btn btn-secondary"> Sign up </button>
									{{/link-to}}
									<div class="signin">
										<p>
											Or {{#link-to "login"}} Sign in {{/link-to}}
										</p>
									</div>
								</div>
							</div>
							<div class="span2">
								<div class="guest">
									<p> Want to just check out the website? </p>
									{{#link-to "index"}} Enter as guest {{/link-to}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="welcome-buffer-container">
		<div class="welcome-buffer-color">
		</div>
		<div class="welcome-buffer-box">
			<div class="container">
				<div class="row">
					<div class="span10">
						<div class="signup text-center">
							<p> Sign up and get </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="welcome-bottom-container">
		<div class="welcome-bottom-color">
		</div>
		<div class="welcome-bottom-box">
			<div class="container">
				<div class="row">
					<div class="span12 top-buffer">
						<div class="span4 offset2 popover-box">
							<div class="popover left">
								<div class="arrow"></div>
								<div class="popover-content">
									<p>Full access to a constantly growing database, currently with {{numFiles}} files</p>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="nerd-img">
								<img src="{{unbound view.staticUrl}}img/nerd-large.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12 top-buffer">
						<div class="span2 offset2">
							<div class="nerd-img">
								<img src="{{unbound view.staticUrl}}img/nerd-large.png" />
							</div>
						</div>
						<div class="span4 popover-box">
							<div class="popover right">
								<div class="arrow"></div>
								<div class="popover-content">
									<p>No capacity limits, upload as much course material as you want</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12 top-buffer">
						<div class="span4 offset2 popover-box">
							<div class="popover left">
								<div class="arrow"></div>
								<div class="popover-content">
									<p>Download freely from any course you'd like, anywhere on the website</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="span4">
							<div class="nerd-img">
								<img src="{{unbound view.staticUrl}}img/nerd-large.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12 top-buffer">
						<div class="span2 offset2">
							<div class="nerd-img">
								<img src="{{unbound view.staticUrl}}img/nerd-large.png" />
							</div>
						</div>
						<div class="span4 popover-box">
							<div class="popover right">
								<div class="arrow"></div>
								<div class="popover-content">
									<p> Easily upload cloud content. We support Dropbox, Skydrive, Gmail and more </p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12 top-buffer">
						<div class="span4 offset2 popover-box">
							<div class="popover left">
								<div class="arrow"></div>
								<div class="popover-content">
									<p> Invite you friends to check out your homework, comment and share </p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="span4">
							<div class="nerd-img">
								<img src="{{unbound view.staticUrl}}img/nerd-large.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>